@import "tailwindcss";

:root {
  --background: #f7f9fd;
  --foreground: #0d1117;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

.bg-volya-grid {
  background-color: #f7f9fd;
  background-image: radial-gradient(#d5e2ff 0.75px, transparent 0.75px), radial-gradient(#d5e2ff 0.75px, #f7f9fd 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}